@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
:root {
  --pry-cyan: hsl(180, 66%, 49%);
  --pry-dark-violet: hsl(257, 27%, 26%);
  --sec-red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --light-gray: hsl(0, 0%, 95%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font: 1.125rem "Poppins", sans-serif;
}
h1,
h2,
h3 {
  color: var(--very-dark-violet);
  text-transform: capitalize;
}
/* Nav bar */
.nav {
  display: flex;
  place-items: center;
  padding: 1.5rem 2rem;
}
.nav-list {
  display: none;
}
.hamburger {
  margin-left: auto;
  width: 2rem;
}
.btn__sign-up {
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (min-width: 700px) {
  .nav {
    width: 90%;
    margin: 0 auto;
  }
  .logo {
    margin-right: 3rem;
  }
  .nav-list {
    display: flex;
  }
  .login {
    margin-left: auto;
  }
  .nav-list li {
    list-style-type: none;
    margin: 0 0.5rem;
  }
  .nav__link {
    text-decoration: none;
    color: var(--grayish-violet);
  }
  .nav__link:hover {
    color: var(--very-dark-violet);
  }
  .hamburger {
    display: none;
  }
}
/* End of nav bar */

/* Header */
.header {
  display: grid;
  overflow: hidden;
  margin-bottom: 10rem;
}
.header__img {
  width: 100%;
  margin-left: 4rem;
}
.header__copy {
  padding: 1rem;
  text-align: center;
}
.header__copy--header {
  line-height: 2.8rem;
}
.header__copy--text {
  color: var(--grayish-violet);
}
@media screen and (min-width: 700px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row-reverse;
    margin-bottom: 5rem;
  }
  .header__img {
    order: 1;
  }
  .header__copy {
    text-align: left;
    padding: 1rem 5rem;
    margin-top: 3rem;
  }
  .header__copy--header {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .header__copy--text {
    font-size: 1.2rem;
  }
}
/* End of hero */

main {
  background-color: var(--gray);
  background-color: var(--light-gray);
  position: relative;
  padding-top: 5rem;
}
/* utility classes */
.btn {
  background-color: var(--pry-cyan);
  color: white;
  cursor: pointer;
  font: inherit;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
}
.btn__pry {
  margin: 1rem 0;
  border-radius: 25px;
  font-size: 1rem;
  padding: 0.5rem 3rem;
}

.align {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
@media screen and (min-width: 700px) {
  .align {
    flex-direction: row;
    align-items: center;
  }
}
/* End of utility class */
.form {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--pry-dark-violet);
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(./images/bg-shorten-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form__label {
  width: 100%;
}
.form__input {
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.3rem 0.5rem;
  font: inherit;
  border-radius: 5px;
  border: none;
}
.form__input--error {
  border: 2px solid var(--sec-red);
}
.form__input--error::placeholder {
  color: var(--sec-red);
}
.form__input--copy {
  position: absolute;
  top: 3.8rem;
  font-style: italic;
  font-size: 0.8rem;
  color: var(--sec-red);
}
.btn__sec {
  border-radius: 5px;
  padding: 0.4rem 1.5rem;
}
@media screen and (min-width: 700px) {
  .form {
    top: -3rem;
    padding: 2rem;
    width: 85%;
    background-image: url(./images/bg-shorten-desktop.svg);
  }
  .form__input {
    width: 95%;
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .form__input--copy {
    top: 4.8rem;
    left: 2rem;
  }
  .form__btn {
    width: 15rem;
  }
}
.link__container {
  background-color: white;
  border-radius: 5px;
  width: 85%;
  margin: 0 auto;
  padding: 1rem;
}
.link__container:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
.container__title {
  padding-bottom: 0.6rem;
  font-size: 0.8rem;
  width: 100%;
  border-bottom: 1px solid var(--gray);
}
.code {
  color: var(--pry-cyan);
  font: inherit;
  padding: 0.7rem 0;
}
@media screen and (min-width: 700px) {
  .container__title {
    font: inherit;
    border: none;
    padding: 0;
  }
  .code {
    margin-right: 0.7rem;
  }
}
.section {
  width: 90%;
  margin: 2rem auto;
  text-align: center;
}
.section__title {
  color: var(--grayish-violet);
}
.section__container {
  display: grid;
}
.card {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}
@media screen and (min-width: 700px) {
}
